.selector-for-some-widget {
    box-sizing: content-box;
  }
  
  body{
    font-family: 'Montserrat', sans-serif;
  }

/* Header */

header{
    background: linear-gradient(0deg, rgba(92, 88, 90, 0.7), rgba(92, 88, 90, 0.7)), url("/assets/images/jess-bailey-UHqfUTDmdC4-unsplash.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: ;
}

.header-text{
    margin-top: 30vh;
    color: white;
}

.header-text h1{
    font-weight: 900;
}


/* Nav Bar */

.navbar, .navbar-brand, .navbar-nav a {
    color: white !important;
    font-weight:700;
}
  
.bg-light{
    background-color:rgba(62, 67, 77, 0.5) !important;
}

.navbar-light .navbar-toggler{
    border: none;
}

/* Buttons */ 

.button{
  background-color: transparent;
  border: solid 2px white;
  color: white;
  font-weight: 700 ;
  width: 250px;
  padding: 10px 5px;
  margin: 50px 20px;
  text-decoration: none;

}

.button:hover{
    background-color: white;
    color: black;
}

.button a{
    color: white;
}



/* Mobile settings */

@media only screen and (max-width: 600px) {
    header{
        height: 100vh;
    }

    .header-text{
        margin-top: 20vh;
        color: white;
    }

    .fa, .far, .fas{
        color: white;
    }

    
}