.selector-for-some-widget {
    box-sizing: content-box;
  }
  
  body{
    font-family: 'Montserrat', sans-serif;
  }

/* Header */

header{
    background: linear-gradient(0deg, rgba(92, 88, 90, 0.7), rgba(92, 88, 90, 0.7)), url("/assets/images/jess-bailey-UHqfUTDmdC4-unsplash.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: ;
}


/* Nav Bar */

.navbar, .navbar-brand, .navbar-nav a {
    color: white !important;
    font-weight:700;
}
  
.bg-light{
    background-color:rgba(62, 67, 77, 0.5) !important;
}

.navbar-light .navbar-toggler{
    border: none;
}