/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

html {
    background-color: #ffffff;

}

/* End Global Styles */

/* Header */
header{
    background: linear-gradient(0deg, rgba(92, 88, 90, 0.7), rgba(92, 88, 90, 0.7)), url("/assets/images/jess-bailey-UHqfUTDmdC4-unsplash.jpg");
    min-height: 100vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.header-text{
    color: white;
    text-align: center;
   margin-top: 30vh;
   font-weight: 400;
}

.header-text h1{
    font-weight: 900;
    font-size: 4.5rem;
    text-transform: uppercase;
}


/* Buttons header styles */

.button{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;

}

.button a{
    text-align: center;
    border: solid white 4px;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    width: 250px;
    padding: 20px 20px;
    margin: 10px 10px;
}
.button a:hover{
    background-color: white;
    color: black;
}

/* End Header Styles */
/* Navbar styles */
.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.45) ;
    color: white;
    font-weight:700 ;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.brand-title{
    font-size: 1.5rem;
    margin: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.brand-title a{
    text-decoration: none;
    color: white;
}

.navbar-links{
    height: 100%;
    margin-right: 4rem;
}

.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    letter-spacing: 1px;
    margin-right: 1.5rem;
    text-transform: uppercase;
}

/* Hamburger menu */
.toggle-button{
    position: absolute;
    top: 1.3rem;
    right: 2.5rem;
    display: none;
    width: 30px;
    text-decoration: none;
}

.fa, .fas{
    font-size: 2.5rem;
    color: white;
}


/* End Navbar Styles


/* Section styles */ 

section{
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2{
    width: 100%;
    letter-spacing: 0.3rem;
    text-align: center;
    font-weight: 900;
    margin-top: 40px;
    font-size: 3rem;
    text-transform: uppercase;
}

.container {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.boxes{
    margin-top: 1rem;
    margin-bottom: 4rem;
    width: 300px;
    border: solid 3px black;
    text-align: center;
    padding: 1.5rem 2.2rem;
}

.boxes:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.boxes h3{
    font-size: 1.6rem;
    text-transform: uppercase;
}

.boxes p{
    margin-bottom: 2.5rem;
    padding: 10px 4px;
    font-weight: 400;
}

.button-box{
    text-align: center;
    border: solid black 3px;
    color: black;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    margin: 12px 10px;

}

.button-box .button-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
    font-size: 1.2rem;
    width: 200px;
    padding: 10px;


}

 .button-link:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

/* End Section Styles */

/* Footer */

footer{
    background-color: rgb(26, 25, 25);
    display: flex;
    min-height: 5vh;
    position: relative;
    width: 100%;
    padding: 20px 5px;
}

.social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.social-container .fab{
    margin: 0 0.5rem;
    font-size: 1.4rem;
}

.fa-instagram{
    color: #C13584;
}

.fa-linkedin{
    color:  #2867B2;
}
.fa-twitter{
    color:  #1DA1F2;

}

.text-footer{
    width: 100%;
}
.text-footer p{
    font-size: 1.2rem;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    color: white;
    margin-right: 20px;
    font-weight: 400;
}

.social-container .fab:hover{
    color: white;
}

/* End Footer styles */

/* Media Queries */
@media (max-width: 800px){
    .navbar{
        flex-direction: row;
        align-items: flex-start;
    }

    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }
    .header-text{
        color: white;
        text-align: center;
        margin-top: 20vh;
    }
    .header-text h1{
        font-weight: 900;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    .header-text p{
        margin: 0 20px;
    }
    .button{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-container{
        margin-top: 20px;
        margin-left: 50%;
        margin-right: 50%;
    }

    .text-footer{
        width: auto;
        
    }
    .social-container .fab{
        margin: 0 1.7rem;
        font-size: 1.4rem;
    }

}




/* End Media Queries */
/* Our Services Styles */


/* End Our Services */